name: Deploy with Maven

on:
  push:
    branches: 
      - master
      - xp

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '19.0.2+7'
          distribution: 'adopt'
      - name: Package with Maven
        run: |
          sudo apt install jq -y
          export UPDATE_VERSION=$(cat version.txt)
          mvn versions:set -DnewVersion=$UPDATE_VERSION
          mvn versions:update-child-modules
          mvn clean package -s ci_settings.xml
          echo "UPDATE_VERSION=$UPDATE_VERSION" >> $GITHUB_ENV
      - name: Upload JAR to FTP
        uses: modern-dev/ftp-mirror@v2
        with:
          files: bedwars-plugin/target/bedwars-plugin-${{env.UPDATE_VERSION}}
          server: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local_dir: bedwars-plugin/target
          remote_dir: 4C01/Bedwars1058
      - name: Create Tag
        uses: softprops/action-gh-release@v1
        with:
          files: bedwars-plugin/target/bedwars-plugin-${{env.UPDATE_VERSION}}
          generate_release_notes: true
          name: ${{env.UPDATE_VERSION}}-xp
          tag_name: ${{env.UPDATE_VERSION}}-xp
